$primary: #1791f2;
$secondary: #233a9a;
$danger: hsl(347.9, 46%, 48.6%);
$info: rgba(29,155,209,.1);
$tablet: 680px;
$desktop: 1024px;
$navbar-breakpoint: $tablet;
$navbar-height: 3rem;
$section-padding: 1.5rem;
$section-padding-medium: 3rem 1.5rem;
$section-padding-large: 9rem 1.5rem;
$content-blockquote-padding: 0.5em 1em;
$content-pre-padding: 0.5em 1em;
$text: black;
$code: $text;
$label-color: $text;
$message-header-color: hsl(222.2, 88.6%, 44.7%);
$message-header-color-me: hsl(103.8, 100%, 17.5%);
$message-body-color: $text;
$z-index: 30;
$z-above-errors: 1;
$pre-background: hsl(0, 5.7%, 89.6%); // grey
$toolbar-width: 20%;
$message-content-width: 98%;
/**
 * Added sans-serif after stuff, for emojis.
 */
$family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;

@charset "utf-8";
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-divider/src/sass/index.sass";
@import "../../../node_modules/bulma-dashboard/src/bulma-dashboard.sass";
@import "../../../node_modules/bulma-switch/src/sass/index.sass";
@import "../../fontello/css/fontello.css";

.input::placeholder {
	color: $grey;
}
.x-has-opacity-1 {
	opacity: 1 !important;
	transition: opacity 0ms !important;
}
.emoji-mart-emoji-native, .CodeMirror-hints {
	font-family: $family-primary !important;
}
.textarea:not([rows]) {
	max-height: 16rem;
	/* Without min-height, stayScrolled gets bugged. */
	min-height: 3rem;
}
.rta__textarea {
	box-shadow: none !important;
}
.x-emoji-mart-container {
	position:absolute;
	bottom: 1.8rem;
	right: 0;
	z-index: $z-index;
}
.x-is-fullwidth {
	width: 100%;
}
.ReactModal__Overlay {
	z-index: $z-index;
	background-color: transparent !important;
	top: 0;
	left: 0;
	overflow: hidden;
	.ReactModal__Content {
		border: 0;
		background-color: transparent;
	}
}
.emoji-mart-scroll {
	overflow-x: hidden;
}
.x-white-space {
	white-space: pre-wrap;
}
.x-topic-link {
	user-select: none;
	&.is-active {
		.x-topic-name {
			user-select: all;
		}
	}
	.x-is-hover-hidden {
		display: none;
	}
	&:hover .x-is-hover-hidden {
		display: inline-block;
	}
	&-wrap {
		display: inline-block;
	}
	.x-topic-name {
		margin-left: 5px;
		flex: 1;
	}
	&-text-wrap {
		align-items: center;
	}
}
.x-truncate {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	&-limited {
		&-width {
			max-width: 12em;
		}
	}
}
.x-are-truncated * {
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}
.x-has-max-height {
	max-height: 11.5em;
	overflow-y: auto !important;
}
.navbar-dropdown {
	min-width: 20em;
}
.x-has-max-width {
	max-width: 300px;
	@media (max-width: $tablet) {
		max-width: 100%;
	}
}
.x-is-hover {
	visibility: hidden;
	.is-active, &.is-active {
		visibility: visible;
	}
}

.x-is-align-start {
	align-items: flex-start !important;
}
.x-is-small-padding {
	padding: 1vh 1vw;
}
.x-is-margin-left {
	margin-left: 0.4em;
}
.x-is-padding-left {
	padding-left: 0.4em;
}
.menu-list .x-input {
	padding: 0.5em 0.75em;
	width: 80%;
}
.x-chat {
	padding: 0.4em;
	padding-bottom: 1em;

	.message {
		.x-message-content {
			max-height: 700px;
			overflow-y: auto;
		}
		margin: 0;
		padding: 0 0.4rem 0.4rem;
		&:hover {
			background-color: $white-ter;

			.x-is-hover {
				visibility: visible;
			}
		}
		background-color: white;
		word-wrap: break-word;

		// Minimum height on video/audio will prevent jumping of content.
		$media-height: 260px;
		.x-media-container {
			margin-top: 0.5em;
			min-height: $media-height;
		}

		.x-media-wrapper {
			align-items: center;
			cursor: zoom-out;
			min-height: 30px;
			&:not(.x-media-expanded) {
				cursor: zoom-in;
				height: $media-height;
				img, video {
					max-height: 100%;
				}
			}
			audio {
				height: 30px;
				min-width: 250px;
			}
		}

		$x-margin-top: -2rem;
		$x-height: 2rem;
		$x-border: 1px solid $grey;

		.x-message-toolbar-side {
			position: absolute;
			right: 0;
			z-index: $z-above-errors;
			bottom: 0;
			margin-top: $x-margin-top !important;
			&-dropdown {
				height: $x-height;
				border: $x-border;
			}
		}
		.x-reactions {
			display: flex;
			user-select: none;
			&-reacted {
				cursor: default;
			}
			.button {
				height: 1.7rem;
				box-sizing: border-box;
				margin: 0 0.1rem;
				padding: 0.1rem;
			}
			.x-is-ack {
				position: absolute;
				right: 0.3rem;
				bottom: 0;
				color: $grey-dark;
			}
			* {
				z-index: $z-above-errors;
			}
		}

		&.x-message-ignored {
			&.x-has-header .message-body {
				display: none;
			}
			&:not(.x-has-header) {
				display: none;
			}
			&.x-show-ignored {
				& ~ .message,
				&.x-has-header .message-body {
					display: inherit;
				}
				
			}
		}
	}
	.x-message-bundle {
		/* First 3 dropdown menus will always expand downwards.
		   After that, last four expand up. */
		&:nth-child(-n+3) .message:not(:nth-child(n+4)) {
			.dropdown-menu {
				top: 100%; 
				padding-top: 4px; 
			}
		}
	}

	.message-header {
		margin: 0.4rem 0 0.1rem 0;
		background-color: transparent;
		color: $message-header-color;
		.x-is-hover {
			visibility: hidden !important;
		}
		&:hover {
			.x-is-hover {
				visibility: visible !important;
			}
		}
		.level-left {
			width: 100%;
			.level-item {
				max-width: 100%;
				word-break: break-word;
			}
		}
	}

	.x-me {
		.message-header {
			color: $message-header-color-me;
		}
	}


	.message-body {
		border: 0;
		padding: 0 0.3rem;
		padding-right: 1rem;
		position: relative;

		.content {
			margin-bottom: 0;
			font-size: 0.9375rem;
			white-space: initial;
			width: $message-content-width;
			pre, code {
				background-color: $pre-background;
			}
		}
	}

	.x-refers-to-me .message-body {
		background-color: rgba(242,199,68,.2);
	}
}
.x-main {
	height: calc(100vh - #{$navbar-height});
	flex-flow: column;
	overflow-x: hidden;
}
.x-avatar {
	cursor: pointer;
	&-picker {
		opacity: 0;
		width: 100%;
		cursor: pointer;
	}
	&:hover {
		color: blueviolet;
	}
	&-image {
		background-size: contain;

		&:not([src]), &[src=""] {
			background-image: url(/img/no-photo.png);
		}
	}
}
.x-chatroom {
	display: flex;
	flex-flow: column;
	flex: 1;
	max-width: 100%;
	align-self: stretch;
	max-height: calc(100vh - #{$navbar-height});

	#scroller * {
		overflow-anchor: none;
	}
	#anchor {
		overflow-anchor: auto;
		height: 1px;
	}

	&-messages {
		height: 100%;
		overflow-x: hidden;
	}
}
body, html, #root {
	overflow-y: auto !important;
}
.x-navbar-height {
	height: $navbar-height;
}
.dashboard {
	height: 100vh;
	&-panel {
		&.is-small {
			flex: 0 0 12rem;
		}
		&.is-medium {
			flex: 0 0 15rem;
			&-desktop {
				@media screen and (min-width: $desktop) {
					flex: 0 0 15rem !important;
				}
			}
		}
	}
}
.x-address {
	user-select: all;
	&-broken {
		word-break: break-all;
	}

	&-container {
		overflow-x: hidden;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
	}
}
.x-not-confirmed {
	&::after {
		animation: 1s linear 10s forwards messageErrorMessage;
		content: "";
		visibility: collapse;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
body *:not(.x-chatroom-messages):not(.x-main):not(.x-has-normal-scrollbar) {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: $grey-light;
    }
    &::-webkit-scrollbar-thumb {
        background: $grey-lighter;
    }
}
.x-is-padded-sides {
	padding: 0 0.1rem;
}
.x-dot-dot-dot {
	right: 0.5rem;
	top: $navbar-height - 0.4rem;
	background-color: white;
	border: 1px solid black;
	position: absolute;
}
.x-header-dots {
	order: 99;
	padding: 0 1rem;
	min-height: $navbar-height;
	vertical-align: top;
	align-items: center;
	float: right;
}
.x-navbar-buttons {
	flex: 1;
}
.x-navbar-brand {
	flex-grow: 2;
	max-width: calc(100% - #{$navbar-height});
	position: relative;
	width: 75%;
	@media (max-width: $navbar-breakpoint - 1) {
		width: 100%;
	}
}
.rc-table-row {
	word-break: break-word;
}
.x-is-transparent {
	opacity: 0;
	transition: opacity 5000ms;
}
.x-is-login-overlay {
	z-index: 99;
	overflow-y: scroll;
}
.x-bordered {
	border: 1px solid black;
}
.x-main-editor {
	position: relative;
	.CodeMirror {
		border: 1px solid #bbb !important;
		border-radius: 0 !important;
		padding-bottom: 5px;
		min-height: 3.4rem;
		&-selected {
			max-width: 100% !important;
		}
		&-scroll {
			max-height: 150px;
		}
		&-fullscreen {
			.CodeMirror-scroll {
				max-height: inherit;
			}
		}
		&-cursor {
			// Fix cursor not appearing in chrome popup.
			padding-left: 1px;
		}
		&-hints * {
			font-family: $family-primary;
		}
		&-lines {
			width: 100% - $toolbar-width;
		}
	}
	.editor-statusbar {
		top: -1rem;
		padding: 0;
		padding-right: 1rem;
		padding-bottom: 0.2rem;
		position: absolute;
		right: 0;
		z-index: $z-index + 1;
		&:hover {
			display: inherit !important;
		}
	}
	.editor-toolbar {
		&:not(.fullscreen) {
			border-left: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.emoji {
				@extend .is-hidden-mobile;
			}
			width: $toolbar-width;
			.side-by-side {
				display: none;
			}
			top: 0;
			right: 0;
			opacity: 0.8;
			background-color: white;
			position: absolute;
			z-index: $z-index;
			overflow: hidden;
			height: 3rem;
			padding: 0;
			padding-right: 3px;
			button {
				height: 100%;
				width: 100%;
				border-radius: 0;
			}
			&:hover {
				opacity: 1;
				& ~ .editor-statusbar {
					display: inherit !important;
				}
			}
		}
		&.fullscreen {
			z-index: $z-index + 1;
		}
		& button {
			color: $grey-dark;
		}
		&::before {
			margin-bottom: 4px;
		}
		&::after {
			margin-top: 4px;
		}
	}
}
.x-toolbar {
	&-content {
		display: inline-flex;
	}
	&-buttons {
		.button {
			margin: 0;
			align-self: flex-start;
			&:hover {
				background-color: $grey-lighter;
			}
		}
	}
	&-admin {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}
.editor-statusbar {
	display: none !important;
	&.is-not-hidden {
		display: inline-block !important;
	}
}
.x-header-root {
	border-bottom: 1px solid $link;
	.x-topics-list {
		li {
			display: flex;
			align-items: center;
			.delete {
				@extend .is-large;
			}
			a {
				width: 100%;
			}
		}
		.x-topic-name {
			@extend .x-truncate;
		}
	}
}
.x-active-tabs-container {
	flex: 0;
	flex-basis: 100%;
	@media (min-width: $desktop) {
		flex-basis: 90%;
	}
	min-width: 30%;
	max-width: 100%;
	border-bottom: 1px solid $link;
	.tabs {
		a {
			padding: 0em 1em;
			justify-content: space-between;
		}
		&.is-toggle li:first-child a,
		&.is-toggle li:last-child a {
			border-radius: 0;
			border-bottom-width: 0;
		}
	}
	.x-topic-tab {
		justify-content: space-between;
		width: 10rem;
		.x-topic-link {
			cursor: auto;
			height: 100%;
			&.is-active {
				.delete {
					display: none;
				}
			}
		}
		&-ghost {
			width: 3rem;
		}
	}
	.tabs.is-toggle a.is-active {
		border-radius: 4px 4px 0 0 !important;
		background-color: $link;
		color: $link-invert;
		z-index: 1;
		border-color: $link;
	}
}
.x-active-topics, .x-topic-tab {
	height: 100%;
	.x-topic-name {
		@extend .x-truncate;
	}
}
.x-has-unread:not(.is-active) {
	background-image: linear-gradient(to top left, hsla(0, 0%, 100%, 0) 60%, tan 100%);
}
.x-unread-count {
	position: absolute;
	right: 0;
	color: #a812a6;
}
.x-has-margin-top-bottom {
	margin-top: 1em;
	margin-bottom: 1em;
}
.x-seed {
	display: flex;
	flex-flow: column;
	&-text {
		text-decoration: underline;
		user-select: all;
		word-break: break-all;
	}
}
.x-qr-code {
	background: white;
	height: 250px;
	display: flex;
	justify-content: center;
	&-icon {
		height: 250px;
		width: 250px;
	}
}
.x-horizontal-scroll {
	scrollbar-width: none !important;
	overflow: scroll;
	&::-webkit-scrollbar {
		display: none !important;
	}
}
.x-sidebar {
	.x-topic-icon {
		display: none;
	}
	li {
		position: relative;
	}
	.delete {
		display: none;
		position: absolute;
		left: -1rem;
		top: 20%;
	}
	li:hover .delete {
		display: block;
	}
	.x-topic-name {
		@extend .x-truncate;
	}
}
.x-topic-icon {
	opacity: 0.8;
	vertical-align: top;
}
.x-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.x-is-opaque {
	opacity: 0.5;
}
.x-is-visible {
	visibility: visible !important;
}
.x-is-delayed {
	// Animation gets bugged (stuck).
	animation: 0s linear 0.2s forwards makeVisible;
	visibility: hidden;
}
.editor-toolbar {
	&:not(.fullscreen) {
		.submit, .bold, .italic, .heading, .quote, .unordered-list,
		.ordered-list, .image, .preview, .guide, .link, .separator {
			display: none;
		}
	}
	&.fullscreen {
		.x-fullscreen-visible {
			display: inline-block !important;
		}
	}
	// Colliding classname here.
	.heading {
		font-size: 13.3333px;
		letter-spacing: normal;
		text-transform: none;
	}
}
.x-is-popup {
	.editor-toolbar {
		&:not(.fullscreen) {
			.upload-image, .submit {
				display: none;
			}
		}
	}
}
.x-topics-table {
	.x-topic-icon {
		min-width: 24px;
	}
}
#sidebar-root {
	padding: 2rem 1.2rem;
}
@keyframes makeVisible {
	to {
		visibility: visible;
	}
}
@keyframes messageErrorMessage {
	to {
		font-size: 0.8em;
		content: attr(data-not-confirmed);
		color: $white;
		background: $grey-dark;
		visibility: visible;
		padding: 1px 5px;
	}
}
